<div class="card mb-1">
    <div class="card-body px-2 px-md-3 py-2 d-flex">
        <a href="<%= link.linkUrl %>" target="_blank" class="overflow-hidden">
            <%= link.linkName %>
        </a>
        <% if(currentUser && currentUser._id.toString() === ownerId){ %>
            <div class="d-flex ms-auto gap-1">
                <button class="btn btn-success" data-bs-toggle="collapse" href="#editCollapse<%=index%>" role="button" aria-expanded="false" aria-controls="editCollapse<%=index%>">
                    編集
                </button>
                
                <form action="/admin/link/<%=link._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">削除</button>
                </form>
            </div>
        <% } %>
    </div>

    <div class="collapse p-2" id="editCollapse<%=index%>">
        <form action="/admin/link/<%=link._id%>?_method=PUT" method="POST">
            <div class="d-flex gap-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" value="group" id="group" <%=link.category==='group'?'checked': ''%>>
                    <label class="form-check-label" for="group">
                      group
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" value="personal" id="personal" <%=link.category==='personal'?'checked': ''%>>
                    <label class="form-check-label" for="personal">
                        personal
                    </label>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-text">
                    linkName
                </span>
                <input type="text" class="form-control" value="<%=link.linkName%>" aria-label="linkName" name="linkName">
            </div>
            
            <div class="input-group">
                <span class="input-group-text">
                    linkUrl
                </span>
                <input type="text" class="form-control" value="<%=link.linkUrl%>" aria-label="linkUrl" name="linkUrl">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    manager
                </span>
                <input type="text" class="form-control" value="<%=link.manager%>" aria-label="manager" name="manager">
            </div>
            
            <div class="input-group">
                <span class="input-group-text">
                    DateOfPermission
                </span>
                <input type="text" class="form-control" value="<%=link.DateOfPermission%>" aria-label="DateOfPermission" name="DateOfPermission">
            </div>

            <button class="d-block ms-auto btn btn-warning">
                送信
            </button>
        </form>
    </div>

</div>