<%- include('../layouts/partials/head') %>
<body class="d-flex flex-column vh-100">
    <div class="container-fluid flex-grow-1 d-flex flex-column" id="mainSpace">
        
        <%- include('../layouts/partials/navbar') %>
        <%- include('../layouts/partials/flash') %>
        
        <div class="container-fluid flex-grow-1 d-flex flex-column p-0">

          <div id="loading-indicator" class="d-none position-fixed top-0 start-0 end-0 bottom-0 bg-white opacity-75 z-3 d-flex justify-content-center align-items-center">
            <div class="spinner"></div>
          </div>

          <%- body -%>

        </div>

        <%- include('../layouts/partials/foot') %>

    </div>
</body>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</html>


